<div class="container" style="margin-top: 20px;">
  <div class="text-center">
    <a class="nav-link" role="button" routerLink = "/home"><h1>Profile Manager</h1></a>
  </div>
</div>
<div class="container" style="margin-top: 20px;">
  <div class="container text-center">
    <a class="nav-link btn btn-info" role="button" routerLink = "/view-profiles"><h1>All Profiles</h1></a>
  </div>
  <br>
  <div class="container text-center">
    <a class="nav-link btn btn-info" role="button" routerLink = "/create-profile"><h1>Add Profile</h1></a>
  </div>
</div>
